name: Testing automatic pullrequest after succes

on:
  push:
    branches: [test]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build and test
        run: mvn clean test

      - name: Create pull request to master
        run: |
          gh pr create \
          -B master \
          -H test \
          --title "Update master" \
          --body "Automated PR from CI after tests passed"
        env:
         GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
